<%# <div class="container"> %>
<div id="header-trigger"></div>
<%# </div> %>
<div class="container">
  <div class="sub-container">
    <h2>履歴書</h2>
    <div class="contents">
      <p>これから追加。</p>
    </div>
  </div>
</div>
