<div class="top top-wrapper">
  <div id="top-text">
    <h1 id="top-h1">Terakado Mio</h1>
    <p id="top-p">私が私のために雑多なことを記録していくための場所</p>
  </div>
</div>
<div class="container">
  <div class="sub-container">
    <h2>履歴書</h2>
    <div class="contents">
      <p>これから追加。</p>
    </div>
  </div>
</div>
