<div class="container">
  <div class="sub-container">
    <div class="subpage-title">
      <h2>読んでいる本</h2>
      <div class="contents">
        <div class="card">
          <ul>
            <li>これから追加。浮き上がるよ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-container">
    <div class="subpage-title">
      <h2>一旦ただのメモ置き場</h2>
    </div>
    <div class="contents">
      <h3>好きなアイコンたち</h3>
      <div class="icons-table">
        <table>
          <tr>
            <th>icon</th>
            <th>Unicode</th>
            <th>class</th>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-leaf fa-2x"></i></td>
            <td>f06c</td>
            <td>fa-leaf</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-diamond fa-2x"></i></td>
            <td>f219</td>
            <td>fa-diamond</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-puzzle-piece fa-2x"></i></td>
            <td>f12e</td>
            <td>fa-puzzle-piece</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-otter fa-2x"></i></td>
            <td>f700</td>
            <td>fa-otter</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-splotch fa-2x"></i></td>
            <td>f5bc</td>
            <td>fa-splotch</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-snowman fa-2x"></i></td>
            <td>f7d0</td>
            <td>fa-snowman</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-mitten fa-2x"></i></td>
            <td>f7d5</td>
            <td>fa-mitten</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-meteor fa-2x"></i></td>
            <td>f753</td>
            <td>fa-meteor</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-feather-pointed fa-2x"></i></td>
            <td>f56b</td>
            <td>fa-feather-pointed</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-dice-d20 fa-2x"></i></td>
            <td>f6cf</td>
            <td>fa-dice-d20</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-cubes fa-2x"></i></td>
            <td>f1b3</td>
            <td>fa-cubes</td>
          </tr>
          <tr>
            <td class="icon"><i class="fa-solid fa-bolt-lightning fa-2x"></i></td>
            <td>e0b7</td>
            <td>fa-bolt-lightning</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
